@tailwind base;
@tailwind components;
@tailwind utilities;


.todo{
    background-color: #f0f0f0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 300px; /* Adjust as needed */
    height: 170px; /* Adjust as needed */
  }
  